<div class="login-container">
<mat-card>
  <mat-card-header>
    <img src="assets/images/afs-logo.png" alt="Logo AFS here" class="logo" />
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="login-button"
      (click)="login()"
      [disabled]="isLoading">
      <!-- Versión corregida: solo un "Ingresar" dinámico -->
      <span *ngIf="!isLoading">Ingresar</span>
      <span *ngIf="isLoading">Verificando...</span>
    </button>
  </mat-card-actions>
</mat-card>
</div>